*,body {
    
}

.box-center{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 76%;
}


.float-left{
	float: left;
}


.float-right{
	float: right;
}

.clear-both{
	clear: both;
}


.absolute-left{
	position: absolute;
	left: 0px;
}

.absolute-right{
	position: absolute;
	right: 0px;
}
